# Виртуальное окружение
.venv/
venv/
env/

# Файлы Python
__pycache__/
*.pyc
*.pyo

# База данных
*.sqlite3
db.sqlite3

# Логи
*.log

# Статика и медиа
staticfiles/
media/

# Файлы окружения
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose*.yml

# Документация
README.md
*.md

# Тесты
tests/
.pytest_cache/
.coverage

# Миграции
# */migrations/